OUTPUT_DIRECTORY = ./doc
PROJECT_NAME = "AVL Tree Implementation"
USE_MDFILE_AS_MAINPAGE = README.md
EXTRACT_ALL = yes
EXTRACT_PRIVATE = yes
EXTRACT_STATIC = yes
INPUT = .
FILE_PATTERNS = 
RECURSIVE = yes
CALLER_GRAPH = yes
OPTIMIZE_OUTPUT_FOR_C = yes
MACRO_EXPANSION = yes
REFERENCED_BY_RELATION = yes
REFERENCES_RELATION = yes
REFERENCES_LINK_SOURCE = yes
